/*body {*/
/*    background: url('../../../images/Wallpaper1.jpg') no-repeat fixed;*/
/*    font-family: Arial, sans-serif;*/
/*    background-size: cover;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    min-height: 100vh;*/
/*    margin: 0;*/
/*}*/

/*.reg_form_header h1 {*/
/*    font-size: 30px;*/
/*    margin-bottom: 20px;*/
/*    text-align: center;*/

/*}*/
/*.reg-form {*/
/*    background-color: rgba(255, 255, 255, 0.7);*/
/*    width: 50%;*/
/*    padding: 20px;*/
/*    border-radius: 10px;*/
/*    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);*/
/*    margin: auto 30px auto auto;*/
/*}*/


/*.reg_form_data {*/
/*    width: 98%;*/
/*    padding: 8px;*/
/*    margin-bottom: 10px;*/
/*    border: 1px solid #ccc;*/
/*    border-radius: 5px;*/
/*}*/

/*.reg_form_footer{*/
/*    text-align: center;*/
/*    margin-top: 20px;*/
/*}*/

/*.req_form_button {*/
/*    background-color: #007BFF;*/
/*    color: #fff;*/
/*    padding: 10px 20px;*/
/*    border: none;*/
/*    border-radius: 5px;*/
/*    cursor: pointer;*/
/*}*/

/*.req_form_button:hover {*/
/*    background-color: #0056b3;*/
/*}*/

.login-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.login-image {
    margin-bottom: 20px;
}

.login-img {
    width: 300px;
    height: auto;
    border-radius: 10px;
}

.login-form {
    max-width: 400px;
    width: 100%;
}

.form-heading {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    /*display: flex;*/
    margin-bottom: 20px;
    width: 500px;
    /*background-color: black;*/
    /*align-items: center;*/
    /*justify-content: center;*/
}

label {
    font-weight: bold;
}

.form-control {
    width: 96%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.required {
    color: red;
}

.btn-login {
    width: 100px;
    font-family: Roboto, serif;
    font-size: 17px;
    font-weight: 500;
    line-height: normal;
    margin-right: 20px;
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(255, 0, 0);
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-login:hover {
    background-color: #0056b3;
}

.form-group-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

body{
    margin:0;
}

.login-container{
    background-color: white;
    width:100%;
    height: 100vh;
}

.login_header{
    flex:1;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.site_logo{
    flex: 1;
    margin-left: 20px;
}

.site_logo_img{
    margin-top: 10px;
    width: 200px;
}

.site_logo_caption{
    margin-top: -30px;
    margin-left: 50px;
    font-size: 10px;
}

.navbar{
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    justify-content: flex-end;
}

.navbar_element_link{
    text-decoration: none;
    color: #030303;
    font-family: Roboto, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.navbar_element_link:hover{
    color: #ff0000;: rgba(255, 1, 1, 0.47);
}

.navbar_element_button{
    font-family: Roboto, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-right: 20px;
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(255, 0, 0);
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}


.navbar_element_button:hover {
    background-color: rgba(255, 1, 1, 0.47);
}

.login_body{
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 120vh;
    /*background-color: black;*/
}

.login_img{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-right: -50px;
}

.login_img_bus{
    width: 600px;
    height: 406px;
    flex-shrink: 0;
    border-radius: 47px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.login_form{
    display: flex;
    flex-direction: column;
    flex: 0.9;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    background-color:#B0B0B066;
    margin-left: 70px;
    height: 110vh;
    border-radius: 20px;
}

.form_heading{
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.form_heading_logo_img{
    width: 200px;
    margin-top: 10px;
}

.form_heading_text{
    font-size: 28px;
}

.form_footer{
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
