body{
  margin:0;
  background-color: white;
  max-height: 100vh;
}

.dashboard{
  display: flex;
  flex-direction: row;
}

.sidebar{
  background-color: #cccccc;
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 97vh;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0.1, 0.1, 0.1, 0.1);
}

.site_logo{
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px
}

.site_logo_img{
  margin-top: 10px;
  width: 200px;
}

.site_logo_caption{
  margin-top: -30px;
  margin-left: 50px;
  font-size: 10px;
}

.sidebar_element {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  text-decoration: none;
  padding-top: 10px;
  padding-left: 20px;
  margin-top: 10px;
  transition: transform 0.3s;
}

.empty{
  margin-top: 40%;
}

.sidebar_element:hover{
  background: linear-gradient(90deg, rgba(98, 97, 97, 0.47) 100%, rgba(253, 81, 81, 0) 100%);
  border-radius: 5px;
  transform: scale(1.1);
}

.sidebar_element_main{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  text-decoration: none;
  padding-top: 10px;
  padding-left: 20px;
  background: linear-gradient(90deg, rgba(255, 1, 1, 0.47) 25.91%, rgba(26, 1, 2, 0) 100%);
  transition: transform 0.3s;
}

.sidebar_element_main:hover{
  border-radius: 5px;
  transform: scale(1.1);
}

a{
  text-decoration: none;
  color: #000;
  text-align: center;
  font-family: Times New Roman, serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.sidebar_img{
  width: 40px;
}

.content_container{
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 86vh;
}

.navbar{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.page_name{
  margin-left: 25px;
  font-family: Times New Roman, serif;
}

.user_profile{
  flex:1;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  justify-content: flex-end;
  width: 100%;
}

.user_img{
  width: 40px;
  border-radius: 100%;
  margin-right: 20px;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    margin-bottom: 0;
}

.centered {
    text-align: center;
}

.u-image {
     width: 100px;
     hight:100px;
     border-radius: 100%;

}

.user-details-form {
    width: 700px;
    align-items: flex-start;
    background-color: #DFE3E5;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 50px;

}
.textarea{
   text-align: left;
}

.user-details-form label {
    display: block;
    margin-bottom: 8px;
    flex: 1;

}

.user-details-form input {

    padding: 10px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    flex: 2;
}
.button {

     background-color:rgb(255, 0, 0);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-left:300px;
    }

.button:hover{
   background-color: rgba(255, 1, 1, 0.47);
}



