body{
    margin:0;
    background-color: white;
    max-height: 100vh;
}

.dashboard{
    display: flex;
    flex-direction: row;
}

.sidebar{
    background-color: #cccccc;
    display: flex;
    flex-direction: column;
    width: 240px;
    height: 97vh;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0.1, 0.1, 0.1, 0.1);
}

.site_logo{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px
}

.site_logo_img{
    margin-top: 10px;
    width: 200px;
}

.site_logo_caption{
    margin-top: -30px;
    margin-left: 50px;
    font-size: 10px;
}

.sidebar_element {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    text-decoration: none;
    padding-top: 10px;
    padding-left: 20px;
    transition: transform 0.3s;
}

.sidebar_element:hover{
    background: linear-gradient(90deg, rgba(98, 97, 97, 0.47) 100%, rgba(253, 81, 81, 0) 100%);
    border-radius: 5px;
    transform: scale(1.1);
}

.sidebar_element_main{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    text-decoration: none;
    padding-top: 10px;
    padding-left: 20px;
    background: linear-gradient(90deg, rgba(255, 1, 1, 0.47) 25.91%, rgba(26, 1, 2, 0) 100%);
    transition: transform 0.3s;
}

.sidebar_element_main:hover{
    border-radius: 5px;
    transform: scale(1.1);
}

a{
    text-decoration: none;
    color: #000;
    text-align: center;
    font-family: Times New Roman, serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
}

.sidebar_img{
    width: 40px;
}

.content_container{
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 86vh;
}

.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.page_name{
    margin-left: 25px;
    font-family: Times New Roman, serif;
}

.user_profile{
    flex:1;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    justify-content: flex-end;
    width: 100%;
}

.user_img{
    width: 40px;
    border-radius: 100%;
    margin-right: 20px;
}

.functions{
    display: flex;
    flex-direction: row;
}


.container {
        display: flex;
        justify-content: space-around;
    }

    .box {
        position: relative;
        transition: box-shadow 0.3s;
        /*width: 25%;*/
        padding: 20px;
        border: 1px solid #ccc;
        margin-bottom: 10px;
        margin-top: 70px;
        margin-right:10px;
        margin-left:20px;
        border-radius: 20px;
        background-color: #EAEDED;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    }
    .box:hover {
            background-color:#E5E8E8;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

    .form-heading {
        text-align: center;
        margin-bottom: 20px;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    label {
        margin-bottom: 10px;
    }

    input {
        padding: 8px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        box-sizing: border-box;
        border-radius: 10px;
        background-color:#EAEDED;
    }

    .errorMgForm {
           display: flex;
           justify-content: center;
           align-items: center;
           position: fixed; /* Ensures that the form stays centered even when scrolling */
           top: 300px;
           left: 650px;
           width: 100hv;
           height: 100hv;
           background-color: #F8F9F9;
           z-index: 999; /* Ensures the form is above other content */
       }

       .errorMgFormContent {
            background-color: #F8F9F9;
           padding: 20px; /* Adjust as needed */
           border-radius: 5px;
           box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Box shadow for a subtle elevation effect */
       }

       .errorMgText {
          font-weight:bold;
          color:red;
       }


