body{
    margin:0;
    background-color: white;
    max-height: 100vh;
}

.dashboard{
    display: flex;
    flex-direction: row;
}

.sidebar{
    background-color: #cccccc;
    display: flex;
    flex-direction: column;
    width: 240px;
    height: 97vh;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0.1, 0.1, 0.1, 0.1);
}

.site_logo{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px
}

.site_logo_img{
    margin-top: 10px;
    width: 200px;
}

.site_logo_caption{
    margin-top: -30px;
    margin-left: 50px;
    font-size: 10px;
}

.sidebar_element {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    text-decoration: none;
    padding-top: 10px;
    padding-left: 20px;
    margin-top: 10px;
    transition: transform 0.3s;
}

.empty{
    margin-top: 40%;
}

.sidebar_element:hover{
    background: linear-gradient(90deg, rgba(98, 97, 97, 0.47) 100%, rgba(253, 81, 81, 0) 100%);
    border-radius: 5px;
    transform: scale(1.1);
}

.sidebar_element_main{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    text-decoration: none;
    padding-top: 10px;
    padding-left: 20px;
    background: linear-gradient(90deg, rgba(255, 1, 1, 0.47) 25.91%, rgba(26, 1, 2, 0) 100%);
    transition: transform 0.3s;
}

.sidebar_element_main:hover{
    border-radius: 5px;
    transform: scale(1.1);
}

a{
    text-decoration: none;
    color: #000;
    text-align: center;
    font-family: Times New Roman, serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
}

.sidebar_img{
    width: 40px;
}

.content_container{
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 86vh;
}

.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.page_name{
    margin-left: 25px;
    font-family: Times New Roman, serif;
}

.user_profile{
    flex:1;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    justify-content: flex-end;
    width: 100%;
}

.user_img{
    width: 40px;
    border-radius: 100%;
    margin-right: 20px;
}

.functions{
    display: flex;
    flex-direction: row;
    justify-content: center
}

.search_box{
    flex: 1;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    transition: transform 0.1s;
}

.search {
    background-color: rgba(176, 176, 176, 0.4);
    padding: 7px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.search:hover{
    transform: scale(1.1);
}

.search_input {
    border: none;
    background: transparent;
    outline: none;
    width: 100%;
    color: #000000;
    font-size: 16px;
    margin-left: 5px;
}

.search_img {
    width: 20px;
    height: 20px;
    opacity: 0.7;
    cursor: pointer;
    margin-right: 5px;
}

.search_img:hover {
    opacity: 1.5;
}

.search_box {
    margin: 20px;
}

#searchButton {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.bus_table {
    border-collapse: collapse;
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    font-family: Arial, sans-serif;
}

thead {
    background-color: rgba(255, 1, 1, 0.47);
    text-align: center;
    padding: 10px;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
}

tr {
    border-bottom: 1px solid #dcdcdc;
}

tbody tr:nth-child(odd) {
    background-color: rgb(255, 255, 255);
}

tbody tr:nth-child(even) {
    background-color: #cccccc;
}

td, th {
    padding: 10px;
    text-align: center;
}

tbody tr:hover {
    background-color: #989898;
}

.action_icon {
    width: 17px;
    height: 17px;
    cursor: pointer;
    margin-right: 1px;
}

.page_control{
    display: flex;
    width: 97%;
    margin-top: 5px;
    margin-right: auto;
    margin-left: auto;
    height: 40px;
    justify-content: flex-end;
    align-items: center;
}

.arrow_img{
    width: 15px;
    height: 15px;
    opacity: 0.7;
    cursor: pointer;
    margin-right: 10px;
}

.arrow_img:hover{
    transform: scale(1.1);
}

.content_tile:hover{
    transform: scale(1.04);
}

.tile_button:hover{
    background-color: #FF010177
}

.tile_button{
width: 150px; height: 40px; border: none; border-radius: 20px; background: #EA2427; color: #fff; font-size: 16px; cursor: pointer;
}

.tile_button_location:hover{
    background-color: #FF010177
}

.tile_button_location{
width: 200px; height: 40px; border: none; border-radius: 20px; background: #EA2427; color: #fff; font-size: 16px; cursor: pointer;
}



/* Apply styles to the select element */
select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 150px;
    background-color: #fff;
}

/* Style the option elements */
select option {
    padding: 10px;
    font-size: 16px;
}

/* Style the dropdown arrow (optional) */
select::after {
    content: "\25BC"; /* Unicode character for a down arrow */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}
